@import 'partials/_fonts';
@import 'partials/_hero';
@import 'partials/_menu';

@import 'partials/_footer.scss';

 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    overflow-x: hidden;
}